footer{
 background-color: var(--green-light);
}
#footer_items{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  padding: 0px 8% 24px 8%;
  align-items: center;
}
#copyright{
  font-size: .7rem;
  font-weight: 500;
}