@media screen and (max-width: 1170px) {
  /*header*/
  #nav_list,
  #navbar .btn-default {
    display: none;
  }
  #mobile_btn {
    display: block;
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    cursor: pointer;
  }
  #mobile_menu.active {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #mobile_nav_list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 12px 0;
  }
  #mobile_nav_list .nav_item {
    list-style: none;
    text-align: center;
  }
  /*home*/
  #home {
    min-height: 100%;
    padding-top: 0px;
  }
  #banner,
  #banner img,
  #home .shape {
    display: none;
  }
  #cta {
    width: 100%;
    text-align: center;
    align-items: center;
  }
  /*menu*/
  #dishes {
    flex-wrap: wrap;
    justify-content: center;
  }
  .dish {
    width: calc(50% - 12px);
  }
  /*testimonials*/
  #testimonials {
    flex-direction: column;
  }
  #testimonials_subtitle {
    text-align: center;
    font-size: 2.5rem;
  }
  #testimonials_chef {
    display: none;
  }
  #testimonials_content {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 600px) {
  /*menu*/
  .dish {
    width: calc(100% - 12px);
  }
  /*testimonials*/
  #testimonials_subtitle {
    font-size: 2rem;
  }
  #testimonials_content {
    width: 100%;
  }
  #feedbacks {
    flex-direction: column;
  }
}
@media screen and (max-width: 419px) {
  /*home*/
  #phone_button button {
    display: none;
  }
}
